main {
  width: 90%;
 margin-left: auto;
 margin-right: auto;
 display: grid;
 grid-template-areas: 
 "a c e"
 "d f f"
 "g k k";
 gap: 2rem;

}
article {
  background: #FFFFFF;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
